body {
  margin: 0%;
}

#main-content {
  width: 100;
  height: 100;
  background-color: #000000;
  color: #fff;
  padding: 20px;

  #header {
    display: flex;
    background-color: #aaa;
    color: #000;
    justify-content: space-between;

    #logo {
      align-self: center;
      font-size: 1.5em;
      padding-left: 0.5em;
      cursor: pointer;
    }

    #buttons {
      display: flex;
      align-self: center;
      padding-right: 0.5em;

      h2 {
        margin-left: 0.5em;
        padding: 0.5em;
        border: 1px solid #000;
        border-radius: 5px;
        color: #000;

        &:hover {
          background-color: #000;
          color: #aaa;
          cursor: pointer;
        }
      }
    }
  }

  #body {
    width: 100%;

    section {
      h1 {
        position: relative;
        font-size: 2.5rem;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 1%;
    }
    &:not(:first-child) {
      margin: 100px;
    }
    }
    .flex-box {
      display: flex;
      min-width: 0;
      flex-wrap: wrap;
      justify-content: center;

      .dish {
        background-color: #125a12;
        border-radius: 1em;
        padding: 10px;
        margin: 5px;
        max-width: min-content;
        img {
          max-height: 300px;
          height: auto;
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }
}
